.Rproj.user/8678DE0E/sources/prop/A861A633
.Rproj.user/8678DE0E/sources/prop/DA2AD53C
.Rproj.user/8678DE0E/sources/prop/INDEX
.Rproj.user/8678DE0E/sources/s-F4DB2651/8727BB51
.Rproj.user/8678DE0E/sources/s-F4DB2651/8727BB51-contents
.Rproj.user/8678DE0E/sources/s-F4DB2651/CAD2F03A
.Rproj.user/8678DE0E/sources/s-F4DB2651/CAD2F03A-contents
.Rproj.user/8678DE0E/sources/s-F4DB2651/lock_file
.Rproj.user/shared/notebooks/861CCD6E-HighLevelAnalysis/1/8678DE0EF4DB2651/chunks.json
.Rproj.user/shared/notebooks/861CCD6E-HighLevelAnalysis/1/s/chunks.json
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/shared/notebooks/paths
.Rproj.user
